.logo a {
  color: #000; }
  .logo a:hover {
    text-decoration: none;
    color: #000; }

.timer {
  display: inline-block;
  margin-right: 10px; }

#notifications:hover {
  cursor: pointer; }

.home .nav-primary {
  border-bottom: 1px solid #ccc; }

.answer {
  border-top: 1px solid #000;
  padding-top: 10px;
  margin-bottom: 10px; }
  .answer:first-child {
    border-top: none; }

