<section class="home">
    <ul class="nav nav-primary">
        <li><a href="javascript:Radvill.Controllers.QuestionController.Index()">Be om råd</a></li>
        <li><a href="javascript:Radvill.Controllers.RequestsController.Index()">Postkasse</a></li>
        <li><a href="javascript:Radvill.Controllers.ProfileController.Index()">Min profil</a></li>
        <li><a href="javascript:Radvill.Controllers.HighscoresController.Index()">Toppliste</a></li>
    </ul>

    <ul class="nav nav-secondary">
        <li><a href="javascript:Radvill.Controllers.InfoController.About()">Om løsningen</a></li>
        <li><a href="javascript:Radvill.Controllers.InfoController.Policy()">Personvern</a></li>
    </ul>
</section>