<section class="viewQuestion">
    <h2>Se spørsmål</h2>
    
    <label>Sendt inn:</label>
    <p data-bind="text: TimeStamp"></p>
    <label>Kategori:</label>
    <p data-bind="text: Category"></p>
    <label>Spørsmål:</label>
    <p data-bind="text: Question"></p>
    
    <label data-bind="if: Answers().length">Svar:</label>
    <div data-bind="foreach: Answers">
        <div class="answer">
            
            <div data-bind="ifnot: Rated">
                <p data-bind="text: Answer"></p>
                <p>Godkjenner du dette svaret?</p>
                <form>
                    <button data-bind="click: Accept" type="button" class="btn btn-success">Ja</button>
                    <button data-bind="click: Decline" type="button" class="btn btn-danger">Nei</button>
                </form>
            </div>
            <div data-bind="if: Rated">
                <div data-bind="if: Accepted" class="text-success">
                    <p data-bind="text: Answer"></p>
                </div>
                <div data-bind="ifnot: Accepted" class="text-danger">
                    <p data-bind="text: Answer"></p>
                </div>
            </div>

        </div>
        
    </div>

</section>