<section>
    <h2>Postkasse</h2>
    
    <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#questions" data-toggle="tab">Mine spørsmål</a></li>
            <li><a href="#answers" data-toggle="tab">Mine svar</a></li>
        </ul>
    </nav>
    
    <div class="tab-content">
        <div id="questions" class="tab-pane active" data-bind="foreach: Questions">
            <div class="question" data-bind="click: ViewDetails">
                <header>
                    <span class="timeStamp" data-bind="text: TimeStamp"></span> - <span data-bind="text: Status"></span>
                </header>
                <p data-bind="text: Question"></p>
            </div>
        </div>

        <div id="answers" class="tab-pane" data-bind="foreach: Answers">
            <div class="answer" data-bind="click: ViewDetails">
                <header>
                    <span class="timeStamp" data-bind="text: TimeStamp"></span> - <span data-bind="text: Status"></span>
                </header>
                <p data-bind="text: Question"></p>
            </div>
        </div>
    </div>
</section>